## Syntax and semantics

In [1]:
#syntax error
n = 1
if n < 0
    print(n)

SyntaxError: invalid syntax (<ipython-input-1-e338441e8f84>, line 2)

In [2]:
#semantic error
n = 2
m = 3
print('n+m < 4')

n+m < 4

## Variables and data type

In [23]:
#Numeric Types-integer/float/complex
n1=10
n2=10.05
n3=10.05+5.1j
print(type(n1))
print(type(n2))
print(type(n3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [25]:
#Text Type-str:
s1="I'm a string!!"
s2='Im a string too!!'
print(type(s1))
print(type(s2))

#string slice
print(s1[2:5])

<class 'str'>
<class 'str'>
m a

In [39]:
#Boolean Type-bool:
x=True
print(type(x))

#bool() Function
print(bool(0))
print(bool([]))
print(bool(None))
print(bool(3>10))

print(bool(3.1415926))
print(bool(1))
print(bool(2==10-8))

<class 'bool'>
False
False
False
False
True
True
True

In [58]:
#Sequence Types-list
li_0=['a','b','c','d']
li=['a',1,'aabb',3.14,li_0]

#The elements in a list can be of different types
for i in li:
    print(i)
    print(type(i))
    
#slicing strings   
print(li_0[0])
print(li[:-2:2])

#Modify the elements in a list
li[3]='g'
print(li)
li[2:3]=[2,3]
print(li)
li[1:6]=[]
print(li)

a
<class 'str'>
1
<class 'int'>
aabb
<class 'str'>
3.14
<class 'float'>
['a', 'b', 'c', 'd']
<class 'list'>
a
['a', 'aabb']
['a', 1, 'aabb', 'g', ['a', 'b', 'c', 'd']]
['a', 1, 2, 3, 'g', ['a', 'b', 'c', 'd']]
['a']

In [63]:
#Sequence Types-tuple
tu = ('abcd','efg',2.45,[1,2,3],'h_3')
print(type(tu))
print(tu[2:5])

#Elements in tuple cannot be modified
tu[2]=2

<class 'tuple'>
(2.45, [1, 2, 3], 'h_3')

TypeError: 'tuple' object does not support item assignment

In [86]:
#Mapping Type-dict
di={'name':'ship_a','color':'green','code':1}
print(type(di))
print(di['name'])

#Adding key-value pairs to a dictionary
di['speed']='high'
print(di)

#modify values in a dictionary
di['color']='red'
di['code']=3
print(di)

#Iterate over all keys and values in the dictionary
for key in di.keys():
    print('\nkey: '+str(key))
    print('value: '+ str(di[key]))

<class 'dict'>
ship_a
{'name': 'ship_a', 'color': 'green', 'code': 1, 'speed': 'high'}
{'name': 'ship_a', 'color': 'red', 'code': 3, 'speed': 'high'}

key: name
value: ship_a

key: color
value: red

key: code
value: 3

key: speed
value: high

In [1]:
#Set Type-set:
sites={'Google','Yahoo','Baidu','Facebook','Baidu'}
apps=set('Facebook')
print(type(sites))
print(type(apps))

#Duplicate elements are automatically removed in a set
print(sites)

#Member testing
if 'Google' in sites:
    print('Google is in the set')
else:
    print('Google isn`t in the set')

<class 'set'>
<class 'set'>
{'Google', 'Yahoo', 'Baidu', 'Facebook'}
Google is in the set

## Conditions

In [102]:
#if statement
a= float(input('Please input a number'))

if a>0:
    if a%1==0:
        print("The number is a positive integer.")
    else:
        print('The number is a positive number')
elif a==0:
    print('The number is 0')
else:
    print('The number is a ngative numbers')

Please input a number5
The number is a positive integer.

## Loops

In [109]:
#loops
fibonacci=[1,1,2,3,5,8,13,21,34,55]

#print the sum of the first 10 terms of the Fibonacci sequence
#while loops:
i=0
sum_1=0
while i<10:
    sum_1+=fibonacci[i]
    i+=1
print(sum_1)

#for loops:
sum_2=0
for i in range(0,10):
    sum_2+=fibonacci[i]
print(sum_2)

143
143

## Functions

In [7]:
#Create a function
def name_abbreviation_1():
    first = input('please input the first name')
    last = input('please input the last name')
    ab = first[0]+last[0]
    return ab
    
#argument
def name_abbreviation_2(first, last):
    ab = first[0]+last[0]
    return ab

In [8]:
#call a function
name_abbreviation_1()

please input the first nameMing
please input the last nameLi

'ML'

In [9]:
name_abbreviation_2('Ming','Li')

'ML'

### Python in-built function

In [11]:
#print():Prints to the standard output device
print('Hello world')

Hello world

In [13]:
#abs()：Returns the absolute value of a number
a = abs(4-8)
print(a)

4

In [3]:
#bool():Returns the boolean value of the specified object
bool(0)

False

In [20]:
#enumerate():Takes a collectionand returns it as an enumerate object
li = ['adamas','Arche en Seine','cb16-cgi','coeur-defense']
for number,building in enumerate(di):
    print(number)
    print(building)

0
adamas
1
Arche en Seine
2
cb16-cgi
3
coeur-defense

In [22]:
#float():Returns a floating point number
#int():Returns an integer number
print(float(2))
print(int(5.5))

2.0
5

In [26]:
#format():Formats a specified value
a = '{}-{}'.format('cb16','cgi')
print(a)

cb16-cgi

In [31]:
#input():Allowing user input
name = input('Please input your name ')

Please input your name Tom

In [50]:
#iter():Returns an iterator object
#next():Returns the next item in an iterable
li = ['adamas','Arche en Seine','cb16-cgi','coeur-defense']
i = iter(li)
print(i)
print(next(i))
print(next(i))

<list_iterator object at 0x00000234B1EB57F0>
adamas
Arche en Seine

In [44]:
#len():Returns the length of an object
li = ['adamas','Arche en Seine','cb16-cgi','coeur-defense']
print(len(li))   #print the length of this list
print(len(li[0]))   #print the length of the first element of the list

4
6

In [68]:
#max():Returns the largest item in an iterable
#min():Returns the smallest item in an iterable
li = ['adamas','Arche en Seine','cb16-cgi','coeur-defense']
print(max(li))
li_num = [2,3,6,3,7,2,1]
print(min(li_num))

coeur-defense
1

## Class

In [5]:
class Car():
    
    def __init__(self, name, year,color):
        #Initialisation of the properties describing the car
        self.name = name
        self.color = color
        self.year=year
        self.odometer_reading=0
        
    def get_descriptive_name(self):
        #Return descriptive information
        long_name=str(self.year)+" "+self.color+" "+self.name
        return long_name.title()

        
    def read_odometer(self):
        #Print a message indicating the mileage of the car.
        print("This car has " + str(self.odometer_reading) + " miles on it.")

    def increment_odometer(self,miles):
        #Increase the odometer reading by a specified amount
        self.odometer_reading += miles

In [6]:
#object: an instance of a class
car_1 = Car('audi',2016,'red')
car_2 = Car('tesla', 2020, 'black')
car_3 = Car('audi',2000, 'white')
print(car_1.get_descriptive_name())
print(car_3.get_descriptive_name())
car_2.increment_odometer(20)
car_2.read_odometer()

2016 Red Audi
2000 White Audi
This car has 20 miles on it.